.Flexcontainer{
    border: 1px solid red;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}
/* flex-start,center,space-around,space-between, */
.flexitem{
    background-color: yellow;
    border: 2px solid red;
    color: red;
    font-size: 24px;
    height: 60px;
    width: 80px;
}