.gridcontainer {
  border: 1px solid red;
  height: 90vh;
  display: grid;
 /* grid-template-columns:100px 200px 100px ;
  grid-template-rows: 100px 100px ;
  grid-template-columns:100px repeat(4,200px);
   grid-template-columns:  repeat(4,1fr);
  grid-template-columns: 1fr 2fr 3fr;*/
  grid-template-rows: 50px 50px 50px ;
  grid-template-columns:  repeat(4,100px);
  gap: 10px;
  /*column-gap: 10px;
  row-gap: 20px;
  allign-content: center;
  justify-content: center; */
 
  
}
.Item{
    color: blueviolet;
    background-color: lightgray;
    border: 1px solid black;
    padding: 30px 40px;
}
.Item:nth-child(1){
    /*grid-column-start: 3;
    grid-column-end:5 ;
    grid-row-start: 2;
    grid-row-end:4 ;*/
    grid-column: 3/4 ;
    grid-row: 2/3;
}
.Item:nth-child(8){
    /*grid-column-start: 3;
    grid-column-end:5 ;
    grid-row-start: 2;
    grid-row-end:4 ;*/
    grid-column: 2/3;
    grid-row: 1/3;
}



header{
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
}

nav{
    grid-area: navbar;
    background-color: green;
    color: yellow;
    border: 1px solid black;
}

main{
    grid-area: main;
    background-color: yellow;
    color: red;
    border: 1px solid black;
}

aside{
    grid-area: aside;
    background-color: blue;
    color: green;
    border: 1px solid black;
}

footer{
    grid-area: footer;
    background-color: green;
    color: yellow;
    border: 1px solid black;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "header header header"
            "navbar main aside"
            "footer footer footer";
    grid-area: body;

}
.flexItem{
    background-color: blue;
    border: 2px solid rebeccapurple;
    color: tomato;
    font-size: 24px;
    height: 60px;
    width: 80px;
    margin:20px;
    gap:10px;
    
}
.flexItem:hover{
    /*transform: translatey(-10px);*/
    transform: translatex(10px); 
    color: brown;   
    background-color: lightgray;
}

/*
576px less than 576 px for mobiles
768px between 577px-768px for tabs
992px between 769px-992px small screens
1200px between 993px-1200px normal screens
1200px greater than 1200px for extra large screens
*/

@media(max-width:576px){
    body{
    
    grid-template-columns: 1fr 3fr ;
    grid-template-areas:
            "header header header"
            "navbar main aside"
            "footer footer footer";
    grid-area: body;
    }
    aside{
        display: none;
    }
    .flexItem{
        font-size: 14px;
        height: 50px;
        width: 50px;
    }
    main{
        background-color: lightskyblue;

    }

}
@media (min-width:577px) and (max-width:768px){
    body{
    
    grid-template-columns: 3fr 1fr ;
    grid-template-areas:
            "header header header"
            "navbar main aside"
            "footer footer footer";
    grid-area: body;
    }
    nav{
        display: none;
    }
    
   

}
@media (min-width:992px) and (max-width:768px){
    body{
    
    
    grid-template-areas:
            "header header header"
            "navbar main aside"
            "footer footer footer";
    grid-area: body;
    }
}