.gridContainer {
  border: 1px solid red;
  height: 90vh;
  display: grid;
  /* grid-template-columns: 100px 200px 300px 400px;
  grid-template-rows: 100px 100px; */
  /* grid-template-columns: repeat(4, "100rf");
  grid-template-rows: 100p 100px; */
  grid-template-columns: 200px 200px 200px 200px;
  /* row-gap:10px */
  /* column-gap:10px */
}
.item {
  color: red;
  border: 1px solid;
  background-color: yellow;
  padding: 30px 40px;
}