body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e6e6e6;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #1f1f1f;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px 0;
    cursor: pointer;
}

/* Main Section */
.main {
    flex: 1;
}

header {
    background: #1e54d4;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}
.stats {
    display: flex;
    padding: 20px;
    gap: 20px;
    border-left:  20px#1e54d4;
}

.stat-card {
    background: #dcdcdc;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px blue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    background: #d3d3d3;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 900px) {
    .stats {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}