.gridContainer {
  border: 1px solid red;
  height: 90vh;
  display: grid;
  /* grid-template-columns: 100px 200px 300px 400px;
  grid-template-rows: 100px 100px; */
  /* grid-template-columns: repeat(4, "100rf");
  grid-template-rows: 100p 100px; */
  grid-template-columns: 200px 200px 200px 200px;
  /* row-gap:10px */
  /* column-gap:10px */
}
.item {
  color: red;
  border: 1px solid;
  background-color: yellow;
  padding: 30px 40px;
}

.item:nth-child(1)
{
    grid-column:3/-1;
    grid-row:2/3;
}


header {
  grid-area: head;
  background-color: rgb(0, 0, 0);
  color: wheat;
  padding: 10px;
}
nav {
  grid-area: nav;
  background-color: rgb(0, 0, 0);
  color: wheat;
  padding: 10px;
}

main {
  grid-area: main;
  background-color: rgb(0, 0, 0);
  color: wheat;
  padding: 10px;
}
aside {
  grid-area: aside;
  background-color: rgb(211, 182, 182);
  color: wheat;
  padding: 10px;
}
footer {
  grid-area: footer;
  background-color: rgb(231, 211, 211);
  color: wheat;
  padding: 10px;
}
